header {
  background-color: #D32323;
  height: 60px;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.container {
  background-color: #FFFFFF;
  height: 50px;
  max-width: 1000px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  padding-left: 0;
  border-radius: 4px;
  overflow:hidden;
}

.logo {
  background-image: url('../images/logo.jpg');
  background-size: 100%;
  height: 100%;
  width: 120px;
  display:inline-block;
  align-items: left;
  padding-left:0;

}

.search {
  background-color: #FEFEFE;
  position: absolute;
  height: 40px;
  left: 140px;
  right: 220px;
  margin: 5px 0px 5px 0px;
  display: inline-flex;
  border: #CCCCCC solid 1px;
  border-radius: 4px;
}

.user {
  height: 100%;
  width: 200px;
  display:inline-flex;
  padding-right:0;
  float:right;
  flex-wrap: wrap;
}

.find {
  height: 100%;
  width: 45%;
  display: inline-flex;
}

.location {
  height: 100%;
  width: 45%;
  display: inline-flex;
  margin: 0;
}

.action {
  height: 100%;
  width: 10%;
  display: inline-flex;
  border-left: #CCCCCC solid 1px;

}

label {
  font-weight: 600;
  font-size: 16px;
  padding: 0 10px 0 10px;
  line-height: 35px;
  border-left: #CCCCCC solid 1px;
}

input {
  padding: 0 10px 0 10px;
  font-size: 14px;
  border: 0;
  width: 100%;

}

button {
  background-color: #D32323;
  width: 100%;
  border-radius: 4px;
}
